<ion-content class="introduce-page" [fullscreen]="true">
  <ion-header [translucent]="true" class="ion-no-border ">
    <ion-toolbar>
      <ion-title>lorem ipsun</ion-title>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-row>
          <ion-col><a href="">Home</a></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><a href="">Planos</a></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><a href="">Sobre</a></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><a href="">Suporte</a></ion-col>
        </ion-row>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-col class="ion-justify-content-center ion-align-items-center ion-text-center">
    <ion-row>
      <ion-col>
        <ion-title>Lorem ipsun</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quam a vero tempore itaque labore fugit, unde hic aliquam exercitationem odio quod in maiores, quibusdam nam ullam modi earum ipsum.</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>lorem</ion-button>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-row class="bg__planos ion-justify-content-center">
    <ion-col size="10">

      <ion-row  class="ion-text-center">
        <ion-col>
          <ion-title>Planos</ion-title>
        </ion-col>
      </ion-row>
      <ion-item-divider>
      </ion-item-divider>
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-text>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui maxime voluptatum ipsam perspiciatis veritatis voluptate nisi temporibus eligendi, quis delectus tempore eius commodi quam, iste nemo officiis ipsum! Commodi, sint?</ion-text>
        </ion-col>
      </ion-row>

      <ion-col >
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-title>preco 00,00</ion-card-title>
              <ion-card-subtitle>lorem ipsun</ion-card-subtitle>
              <ion-button>lorem</ion-button>
            </ion-card>
          </ion-col>  
          <ion-col>
            <ion-card>
              <ion-card-title>preco 00,00</ion-card-title>
              <ion-card-subtitle>lorem ipsun</ion-card-subtitle>
              <ion-button>lorem</ion-button>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-title>preco 00,00</ion-card-title>
              <ion-card-subtitle>lorem ipsun</ion-card-subtitle>
              <ion-button>lorem</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-col>
  </ion-row>

  <ion-col size="10" class="ion-text-center ion-no-border">
    <ion-row>
      <ion-col>
        <ion-title>Sobre Nós</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur itaque, beatae aperiam enim, deleniti rem qui unde.</ion-text>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-col size="10">
    <ion-row class="ion-justify-content-center ion-text-left">
      <ion-col>
        <ion-img src="https://images.unsplash.com/photo-1593079831268-3381b0db4a77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80"></ion-img>
      </ion-col>

      <ion-col>
        <ion-text>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa temporibus dicta fugiat neque omnis, animi quasi mollitia amet, necessitatibus est eligendi asperiores hic eveniet recusandae, perspiciatis ducimus veritatis ut doloribus?
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-row class="ion-text-center">
        <ion-col>
          <ion-title>Contate-nos</ion-title>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col>
          <img src="https://images.unsplash.com/photo-1437622368342-7a3d73a34c8f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1920&q=80" alt="">
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-card-title>Mande-nos uma mensagem!</ion-card-title>
            <ion-list>
              <ion-item>
                <ion-icon name="call-outline" class="ion-margin-end"></ion-icon>
                <ion-card-subtitle>(00) 00000-0000</ion-card-subtitle>
              </ion-item>
              <ion-item>
                <ion-icon name="mail-open-outline" class="ion-margin-end"></ion-icon>
                <ion-card-subtitle>email@mail.com</ion-card-subtitle>
              </ion-item>
              <ion-item>
                <ion-icon name="location-outline" class="ion-margin-end"></ion-icon>
                <ion-card-subtitle>Rua Sua Rua - 000 - Bairro</ion-card-subtitle>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-row class="ion-text-start ion-margin-start ion-justify-content-center">
        <ion-col size="10">
          <ion-row>
            <ion-col>
              <ion-title>NOSSO APP</ion-title>
              <ion-item-divider></ion-item-divider>
              <ion-text>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt beatae doloribus sed quam quos impedit architecto tempore numquam! Provident alias vero consequatur accusantium vel, error nulla culpa non sint voluptas!</ion-text>
              <ion-row>
                <img src="https://images.unsplash.com/photo-1595079676601-f1adf5be5dee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
              </ion-row>
            </ion-col>
            <ion-col>
              <img src="https://images.unsplash.com/photo-1598327105666-5b89351aff97?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2118&q=80" alt="" height="800px">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-footer>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <ion-item-divider class="ion-margin-bottom"></ion-item-divider>
        <ion-row class="">
          <ion-col>
            <ion-title class="ion-no-padding">lorem ipsun</ion-title>
            <ion-text>Copyright 2023 All right reserved</ion-text>
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-icon name="logo-instagram" class="ion-margin-end ion-margin-start"></ion-icon>
              <ion-text>Instagram</ion-text>
            </ion-row>
            <ion-row>
              <ion-icon name="logo-facebook" class="ion-margin-end ion-margin-start"></ion-icon>
              <ion-text>Facebook</ion-text>
            </ion-row>
            <ion-row>
              <ion-icon name="logo-whatsapp" class="ion-margin-end ion-margin-start"></ion-icon>
              <ion-text>Whatsapp</ion-text>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-content>