ion-content {
    --background: #0F0F0F no-repeat center/cover fixed;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url(../../assets/font/Oswald-VariableFont_wght.ttf);
}


// Conteúdo 
.second {
    max-height: 75vh;

    .ball::before {
        content: '';
        width: 500px;
        height: 400px;
        background: #d9cece;
        border-radius: 500px;
    }

    & .perfil {
        --size: 6.25em;
        --border-radius: 6.25em;
        position: relative;
        right: 0.7em;
        clip-path: circle(50%);
    }
    
    & .text-nomeUsuario {
        color: #FFF;
        font-family: 'Oswald';
        font-size: 1.75em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        bottom: 1em;
    }
    
    & .textDesc {
        color: #A6A6A6;
        font-family: 'Oswald';
        font-size: 0.938em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        bottom: 5em;
    }
    
    // Planos
    & .plano {
        --background: #00B2FF;
        --border-radius: 0.938em;
        position: relative;
        bottom: 6em;
        text-align: center;
    
        // Texto Planos
        & .textPlanoAss {
            color: #FFF;
            font-family: 'Oswald';
            font-size: 1.563em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;
        
        }
        
        & .textPlano {
            color: #FFF;
            font-family: 'Oswald';
            font-size: 1em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;
        }
    }
    
    & .objetivo {
        color: #FFF;
        font-family: 'Bebas Neue';
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        bottom: 5em;
    }
    & .colIcon {
        display: flex;
        justify-content: center;

        & .icon {
            position: relative;
            bottom: 8em;
        }
    }
    
    & .colCard {
        background: #262626;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 8em;
    
        & .card {
            --border-radius: 1.875em;
            --background: linear-gradient(300deg, #707070 0%, #414141 100%);
            width: 8em;
            height: 9em;
            display: flex;
            justify-content: center;
    
            & .cardIcon {
                width: 1.5em;
                height: 1.5em;
                margin-left: 0.35em;
            }
        
            & .textCriarObjetivo {
                color: #FFF;
                text-align: center;
                font-family: 'Oswald';
                font-size: 1em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                position: relative;
                left: 0.7em;
            }
        }
    
        & .cardObjetivo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 11.438em;
            height: 8.625em;
            --border-radius: 0px 1.875em 0.625em 1.875em;
            --background: linear-gradient(300deg, #94C5FF 0%, #0D51FF 100%);
    
            & .textObjetivo {
                color: #FFF;
                text-align: center;
                font-family: 'Oswald';
                font-size: 1.25;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }
    
    
    
    // Modal
    & .custom {
        --background: #404040;
        --color: #fff;
        --placeholder-color: #404040;
        --placeholder-opacity: 0.8;
        width: 90vw;
        height: 15vh;
    }
    
    & .custom:hover {
        --background: #404040;
    }
    
    & .textModal {
        color: #FFF;
        font-family: 'Oswald';
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    & .button-form {
        --background: #00B2FF;
        --border-radius: 0.625em;
    
        font-family: 'Bebas Neue';
        font-size: 1.5em;
        width: 40vw;
        height: 6.5vh;
    }
}

// Navegação
.nav-bar {
    background: #262626;
    position: sticky;
    width: 100vw;
    padding-left: 1em;
}

.btns {
    --background: #262626;
    position: relative;
}

// Responsabilidade
@media (min-width: 768px) {
    // Conteúdo
    .perfil {
        left: 1.5em;
    }
    
    .text-nomeUsuario {
        left: 3.5em;
    }
    
    .textDesc {
        left: 3.9em;
    }

    // Botões
    .btns {
        left: 4.8em;
    }
}

@media (min-width: 1024px) {
    // Conteúdo
    .perfil {
        left: 3.5em;
    }
    
    .text-nomeUsuario {
        left: 5.8em;
    }
    
    .textDesc {
        left: 8.3em;
    }

    // Botões
    .btns {
        left: 8em;
    }
}