ion-content {
    --background: #262626 no-repeat center/cover fixed;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url(../../assets/font/Oswald-VariableFont_wght.ttf);
}

// Conteúdo 
.second {
    display: flex;
    justify-content: center;
    text-align: center;

    & .text-nomeUsuario {
        color: #FFF;
        font-family: 'Oswald';
        font-size: 1.75em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10%;
    }

    & .textDesc {
        color: #A6A6A6;
        font-family: 'Oswald';
        font-size: 0.938em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    // Planos
    & .plano {
        --background: #00B2FF;
        --border-radius: 0.938em;
        position: relative;
        top: 3em;
        text-align: center;

        // Texto Planos
        & .textPlanoAss {
            color: #FFF;
            font-family: 'Oswald';
            font-size: 1.563em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;

        }

        & .textPlano {
            color: #FFF;
            font-family: 'Oswald';
            font-size: 1em;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            position: relative;
        }
    }

    & .objetivo {
        color: #FFF;
        font-family: 'Bebas Neue';
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        top: 2.5em;
    }

    & .colIcon {
        display: flex;
        justify-content: center;

        & .icon {
            margin-top: 1em;
        }
    }

    & .colCard {
        background: #1c1c1c;
        height: 60vh;

        & .card {
            --border-radius: 1.875em;
            --background: linear-gradient(300deg, #707070 0%, #414141 100%);
            width: 3em;
            height: 3em;
            position: fixed;
            right: 20px;

            & .cardIcon {
                width: 1em;
                height: 1em;
                position: relative;
                right: 16px;
                bottom: 12px;
            }
        }

        & .cardObjetivo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 90vw;
            height: 4em;
            --border-radius: 0px 1.875em 0.625em 1.875em;
            --background: #404040;
            position: relative;
            top: 50px;



            & .textObjetivo {
                color: #FFF;
                text-align: center;
                font-family: 'Oswald';
                font-size: 1.25em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
        }
    }



    // Modal
    & .custom {
        --background: #404040;
        --color: #fff;
        --placeholder-color: #404040;
        --placeholder-opacity: 0.8;
        width: 90vw;
        height: 15vh;
    }

    & .custom:hover {
        --background: #404040;
    }

    & .textModal {
        color: #FFF;
        font-family: 'Oswald';
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    & .button-form {
        --background: #00B2FF;
        --border-radius: 0.625em;

        font-family: 'Bebas Neue';
        font-size: 1.5em;
        width: 40vw;
        height: 6.5vh;
    }
}

// Navegação
.nav-bar {
    background: #0F0F0F;
    position: sticky;
    width: 100vw;
    padding-left: 1em;
}

.btns {
    --background: #0F0F0F;
    position: relative;
}

// Responsabilidade
@media (min-width: 768px) {

    // Conteúdo
    .perfil {
        left: 1.5em;
    }

    .text-nomeUsuario {
        left: 3.5em;
    }

    .textDesc {
        left: 3.9em;
    }

    // Botões
    .btns {
        left: 4.8em;
    }
}

@media (min-width: 1024px) {

    // Conteúdo
    .perfil {
        left: 3.5em;
    }

    .text-nomeUsuario {
        left: 5.8em;
    }

    .textDesc {
        left: 8.3em;
    }

    // Botões
    .btns {
        left: 8em;
    }
}