<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col class="start"></ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="2.5">
      <ion-thumbnail class="perfil">
        <img src="../../assets/images/usuario-de-perfil.png" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <p class="text-nomeUsuario">nome_de_usuário</p>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <p class="textDesc">descrição qualquer de um usuário qualquer</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-card class="plano">
        <ion-card-content>

          <ion-row>
            <ion-col>
              <p class="textPlanoAss">Plano Assinado</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="textPlano">Plano Família</p>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p class="objetivo">Objetivos</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="colIcon">
      <ion-icon class="icon" color="light" name="arrow-down-outline"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="colCard">
      <ion-row>
        <ion-col>
          <ion-card class="card">
            <ion-card-content>
              <ion-row (click)="setOpen(true)" class="ion-justify-content-center">
                <ion-col><ion-icon class="cardIcon" color="light" size="large" name="add-circle-outline"></ion-icon></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9">
                  <p class="textCriarObjetivo">Criar Objetivo</p>
                </ion-col>
              </ion-row>
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-content class="ion-padding">
                    <ion-row>
                      <ion-col><ion-icon color="light" (click)="setOpen(false)" name="arrow-back-circle-outline"
                          size="large"></ion-icon></ion-col>
                    </ion-row>
                    <form #formObjetivo="ngForm">
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="6">
                          <p class="textModal">Crie seu Objetivo</p>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="12">
                          <ion-input class="custom" ngModel type="text" label="Objetivo"
                            label-placement="floating" fill="solid" placeholder="Digite o seu objetivo"
                            name="objetivo"></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="6" size-lg="12">
                          <ion-button class="button-form" type="submit" [routerLink]="['./app-inicio']">
                            Criar Objeitvo
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="cardObjetivo">
            <ion-card-content>
              <p class="textObjetivo">Chegar aos 70Kg em 60 dias</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="nav-bar">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-row>
        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-treino'">
            <ion-icon size="large" name="accessibility-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-inicio'">
            <ion-icon size="large" name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button color="light" class="btns" [routerLink]="'/app-perfil'">
            <ion-icon color="dark" size="large" name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>