ion-content {
    --background: #262626 no-repeat center/cover fixed;
}
@font-face {
    font-family: 'Oswald';
    src: url(../../assets/font/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(../../assets/font/BebasNeue-Regular.ttf);
}

// Imagens
.perfil {
    --size: 4.5em;
    position: relative;
    clip-path: circle(50%);
}

.imgCircle1 {
    position: relative;
}

// Texto
.text-nomeUsuario {
    font-family: 'Oswald';
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    position: relative;
    bottom: 1em;
}

.text-treinoHoje {
    font-family: 'Oswald';
    font-size: 1em;
    color: #A6A6A6;
    position: relative;
    bottom: 5em;
}

// Conteúdo
.rowMeio {
    position: relative;
    bottom: 4em;

    .colMeio {
        background: linear-gradient(168deg, #0f0f0fbf 0%, #262626bf 100%) no-repeat center/cover fixed;
    
        .card {
            width: 21.875em;
            height: 9em;
            border-radius: 1.5em;
            margin-left: 1.7em;
    
            .textExe {
                color: #FFF;
                font-family: 'Bebas Neue';
                font-size: 2.5em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
    
            .buttonExe {
                --background: #00B2FF;
                --border-radius: 0.5em;
                color: #FFF;
                font-family: 'Bebas Neue';
                font-size: 1.25em;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
            }
        }

        .cardPeito {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/peitoApp.png') no-repeat center/cover fixed;
        }

        .cardCostas {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/costasApp.png') no-repeat center/cover fixed;
        }

        .cardBiceps {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/bicepsApp.png') no-repeat center/cover fixed;
        }

        .cardTriceps {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/tricepsApp.png') no-repeat center/cover fixed;
        }

        .cardPernas {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/pernasApp.png') no-repeat center/cover fixed;
        }

        .cardOmbro {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/ombroApp.png') no-repeat center/cover fixed;
        }

        .cardAbdomen {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/abdomenApp.png') no-repeat center/cover fixed;
        }

        .cardCardio {
            --background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/cardioApp.png') no-repeat center/cover fixed;
        }

        .blob1::before {
            content: '';
            position: relative;
        }
    }
}

// Navegação
.nav-bar {
    background: #262626;
    position: sticky;
    width: 100vw;
    padding-left: 1em;
}

.btns {
    --background: #262626;
    position: relative;
}


// Responsividade
@media (max-width: 320px) {
    .meio {
        height: 154vh;
    }
    .card {
        margin-left: 0;
        position: relative;
        right: 1.8em;
        width: 0.5em;
    }
}

@media (min-width: 425px) {
    .card {
        position: relative;
        left: 1.7em;
    }
}

@media (min-width: 768px) {
    // Perfil
    .perfil {
        left: 1em;
        --size: 7em;
    }

    .card {
        position: relative;
        left: 13.5em;
    }

    // Conteúdo
    .meio {
        left: 1.7em;
        height: 140vh;
    }
    // Botões
    .btns {
        left: 4.8em;
    }
}

@media (min-width: 1024px) {
    // Perfil
    .perfil {
        left: 2.3em;
    }

    // Conteúdo
    .meio {
        left: 2.3em;
    }

    // Botões
    .btns {
        left: 8em;
    }
}