<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button color="medium" (click)="closeModel()">Close</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="label">
        <ion-input class="label-login"  type="email" label="Digite seu email" label-placement="floating" placeholder="Digite seu email"></ion-input>
        <ion-input class="label-login" type="password" label="Digite sua senha" label-placement="floating" placeholder="Digite sua senha"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  
