<ion-content [fullscreen]="true">
  <form #loginAdmin="ngForm">
    <ion-row class="ion-justify-content-center">
      <ion-col class="">
        <ion-input ngModel label="email" name="email" label-placement="floating" type="email"
          placeholder="Coloque o seu email" class="required"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="">
        <ion-input ngModel label="senha" name="senha" label-placement="floating" type="senha"
          placeholder="Coloque o sua senha" class="required"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-button class="btn_cadastrar" type="submit">
            Cadastrar
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>