@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/font/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Oswald';
    src: url('../../assets/font/Oswald-VariableFont_wght.ttf');
}
ion-content {
    --background: #fff;
}


// Side Bar
.sideBar {
    display: flex;
    align-items: center;
    height: 100vh;

    .sideRow {
        width: 218px;
        height: 896px;
        background: #000000;
        border-radius: 36px;
        border: 1px solid #000000;
        box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.78);
        -webkit-box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.78);
        -moz-box-shadow: 1px 0px 24px 0px rgba(0,0,0,0.78);
        position: fixed;
        left: 47px;

        .sideCol {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;

            .sideCol__column {
                display: flex;
                justify-content: center;
                align-items: center;

                .sideCol__logo {
                    --size: 60px;
                }

                .sideCol__thumbnail {
                    cursor: pointer;
                }
    
                .sideCol__text {
                    color: #FFF;
                    font-family: 'Bebas Neue';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

// Conteúdo
.conteudo{
    .conteudo__searchbar {
        --border-radius: 10px;
        --background: #D9D9D9;
      }

      .item {
          --background: #fff;
        }
}