<ion-content [fullscreen]="true">
  <ion-row>
    <!-- Side bar -->
    <ion-col size="2" class="sideBar">
      <ion-row class="sideRow">
        <ion-col class="sideCol">
          <!-- Logo -->
          <ion-row class="sideCol__logo">
            <!-- <ion-col size="4" class="sideCol__column ">
              <ion-thumbnail class="sideCol__imgLogo">
                <img src="../../assets/images/logo.png" alt="Logo">
              </ion-thumbnail>
            </ion-col> -->

            <ion-col size="12" class="sideCol__column">
                  <ion-text class="sideCol__textLogo">Gereciamento de Clientes</ion-text>
            </ion-col>
          </ion-row>

          <!-- Home -->
          <ion-row [routerLink]="'/admin'" class="row">
            <ion-col size="12" class="alinhamento__centro">
              <ion-row>
                <ion-col size="3" class="sideCol__column">
                  <ion-icon class="sideCol__thumbnail" name="home-outline"></ion-icon>
                </ion-col>
                <ion-col size="9" class="sideCol__column">
                  <ion-text class="sideCol__text">Home</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <!-- Adicionar -->
          <ion-row>
            <ion-col size="12" [routerLink]="'/admin-adcionar'" class="alinhamento__centro">
              <ion-row>
                <ion-col size="3" class="sideCol__column">
                  <ion-icon class="sideCol__thumbnail" name="person-add-outline"></ion-icon>
                </ion-col>
                <ion-col size="9" class="sideCol__column">
                  <ion-text class="sideCol__text">Adicionar</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <!-- Listar -->
          <ion-row [routerLink]="'/admin-list'">
            <ion-col size="12" class="activated-btn__GerenCliente">
              <ion-row>
                <ion-col size="3" class="sideCol__column">
                  <ion-icon class="activated-btn-icon__GerenCliente" name="list-outline"></ion-icon>
                </ion-col>
                <ion-col size="9" class="sideCol__column">
                  <ion-text class="sideCol-activated-btn__text">Listar</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <!-- Ficha -->
          <ion-row [routerLink]="'/admin-exercicios'">
            <ion-col size="12" class="alinhamento__centro">
              <ion-row>
                <ion-col size="3" class="sideCol__column">
                  <ion-icon class="sideCol__thumbnail" name="barbell-outline"></ion-icon>
                </ion-col>
                <ion-col size="9" class="sideCol__column">
                  <ion-text class="sideCol__text">Treino</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <!-- Logout -->
          <ion-row class="logout">
            <ion-col size="12" [routerLink]="'/admin-login'" class="alinhamento__centro">
              <ion-row>
                <ion-col size="3" class="sideCol__column">
                  <ion-icon class="sideCol__thumbnail" name="log-out-outline"></ion-icon>
                </ion-col>
                <ion-col size="9" class="sideCol__column">
                  <ion-text class="sideCol__text">Logout</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Conteúdo -->
    <ion-col size="10" class="conteudo__bg">
      <ion-row class="conteudo">
        <ion-col size="12">
          <ion-row>
            <ion-title class="title">LISTA DE CLIENTES</ion-title>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-searchbar [(ngModel)]="buscarTermo" (ionChange)="filtrarPorSearchBar()" show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>
            </ion-col>
          </ion-row>
          <ion-row class="list__bg">
            <ion-col size="12">
              <ion-list class="list">
                <ion-item class="item header__item">
                  <ion-label>Código</ion-label>
                  <ion-label>Email</ion-label>
                  <ion-label>Nome</ion-label>
                  <ion-label>Sobrenome</ion-label>
                  <ion-label>Sexo</ion-label>
                  <ion-label>Altura (cm)</ion-label>
                  <ion-label>peso (kg)</ion-label>
                  <ion-label>Data de Nasc.</ion-label>
                  <ion-label>CPF</ion-label>
                  <ion-label>Código do Plano</ion-label>
                  <ion-label>Opções</ion-label>
                </ion-item>
                <ng-container *ngFor="let cliente of this.clientes">
                  <ion-item class="ion-text-center item">
                    <ion-label>{{ cliente.codigo }}</ion-label>
                    <ion-label>{{ cliente.email }}</ion-label>
                    <ion-label>{{ cliente.nome }}</ion-label>
                    <ion-label>{{ cliente.sobrenome }}</ion-label>
                    <ion-label>{{ cliente.sexo }}</ion-label>
                    <ion-label>{{ cliente.altura }}</ion-label>
                    <ion-label>{{ cliente.peso }}</ion-label>
                    <ion-label>{{ cliente.DataNasc }}</ion-label>
                    <ion-label>{{ cliente.cpf }}</ion-label>
                    <ion-label>{{ cliente.FK_Planos_codigo }}</ion-label>
                    <ion-button color="tertiary" (click)="modalAddFicha(true, cliente.codigo)"><ion-icon
                        name="barbell-outline"></ion-icon></ion-button>
                    <ion-button
                      (click)="modalUpdate(true, cliente.codigo, cliente.email, cliente.nome, cliente.sobrenome, cliente.sexo, cliente.altura, cliente.peso, cliente.DataNasc, cliente.cpf, cliente.FK_Planos_codigo)"><ion-icon
                        name="pencil-outline"></ion-icon></ion-button>
                    <ion-button id="modalRemover" color="danger" (click)="modalRemover(true, cliente.codigo)"><ion-icon
                        name="trash-outline"></ion-icon></ion-button>


                    <!-- Modal para adicionar ficha de treino -->
                    <ion-modal class="modalFicha conteudo__modalFicha" [isOpen]="isAddFichaOpen">
                      <ng-template>
                        <ion-toolbar>
                          <ion-label class="ion-padding-start">Ficha de Treino</ion-label>
                          <ion-buttons slot="end">
                            <ion-button (click)="modalAddFicha(false, cliente.codigo)">X</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                        <ion-content>
                          <form>
                            <!-- Row1 -->
                            <ion-row class="conteudo__row">
                              <ion-col size="4">
                                <ion-label class="modalFicha__text">Peito</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>

                              <ion-col size="4">
                                <ion-label class="ion-padding-start">Ombro</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios5">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>

                              <ion-col size="4">
                                <ion-label class="ion-padding-start">Bíceps</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios3">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>
                            </ion-row>

                            <!-- Row2 -->
                            <ion-row class="conteudo__row">
                              <ion-col size="4">
                                <ion-label class="ion-padding-start">Tríceps</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios4">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>

                              <ion-col size="4">
                                <ion-label class="ion-text-center">Costas</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios2">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>

                              <ion-col size="4">
                                <ion-label class="ion-padding-start">Abdômen</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios7">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>
                            </ion-row>

                            <!-- Row4 -->
                            <ion-row class="conteudo__row">
                              <ion-col class="ion-padding-top" size="4">
                                <ion-label class="ion-padding-start">Pernas</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios6">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>

                              <ion-col class="ion-padding-top" size="4">
                                <ion-label class="ion-padding-start">Cardio</ion-label>
                                <ion-list class="conteudo__list">
                                  <ng-container *ngFor="let exercicio of this.exercicios8">
                                    <ion-item class="item item__exercicio">
                                      <ion-input [(ngModel)]="exercicio.series" name="series" type="text" placeholder="Series"></ion-input>
                                      <ion-input [(ngModel)]="exercicio.descricao" name="descricao" type="text" placeholder="Descricao"></ion-input>
                                      <ion-checkbox (ionChange)="verificarCheck(exercicio.codigo, exercicio, $event)" [value]="exercicio.codigo">{{ exercicio.nome }}</ion-checkbox>
                                    </ion-item>
                                  </ng-container>
                                </ion-list>
                              </ion-col>
                            </ion-row>
                            <ion-row class="row__button">
                              <ion-col class="col__button">
                                <ion-button color="dark" type="submit">Atualizar</ion-button>
                              </ion-col>
                            </ion-row>
                          </form>
                        </ion-content>
                      </ng-template>
                    </ion-modal>

                    <!-- Modal Para Atualizar -->
                    <ion-modal class="modalUpdate" [isOpen]="isAtualizarOpen">
                      <ng-template>
                        <ion-toolbar>
                          <ion-label class="ion-padding-start">ATUALIZAR FUNCIONÁRIO</ion-label>
                          <ion-buttons slot="end">
                            <ion-button
                              (click)="modalUpdate(false, '', '', '', '', '', '', '', '', '', '')">X</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                        <ion-content class="ion-padding">
                          <ion-row class="ion-justify-content-center">
                            <ion-col class="ion-text-align-center" size="12">

                              <!-- Formulário -->
                              <form (submit)="atualizarCliente(formatualizarCliente.value)"
                                #formatualizarCliente="ngForm">
                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label class="">Nome</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.nome"
                                      name="nome" type="text"></ion-input>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label class="">Sobrenome</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.sobrenome"
                                      name="sobrenome" type="text"></ion-input>
                                  </ion-col>
                                </ion-row>

                                <ion-row>
                                  <ion-col size="12">
                                    <ion-label class="">Email</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.email"
                                      name="email" type="text"></ion-input>
                                  </ion-col>
                                </ion-row>

                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label class="">Data Nascimento</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.DataNasc"
                                      name="DataNasc" type="date"></ion-input>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label class="">Altura</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.altura"
                                      name="altura" type="number"></ion-input>
                                  </ion-col>
                                </ion-row>

                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label class="">CPF</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.cpf"
                                      name="cpf" type="text"></ion-input>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label class="">Peso</ion-label>
                                    <ion-input class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.peso"
                                      name="peso" type="number"></ion-input>
                                  </ion-col>
                                </ion-row>

                                <ion-row>
                                  <ion-col size="6">
                                    <ion-label class="">Planos</ion-label>
                                    <ion-select class="" #input ngModel
                                      [(ngModel)]="this.guardarInfosUsuario.FK_Planos_codigo" interface="popover"
                                      toggleIcon="add" expandedIcon="remove" aria-label="Planos"
                                      name="FK_Planos_codigo">
                                      <ion-select-option value="1">Plano A</ion-select-option>
                                      <ion-select-option value="2">Plano B</ion-select-option>
                                      <ion-select-option value="3">Plano C</ion-select-option>
                                    </ion-select>
                                  </ion-col>
                                  <ion-col size="6">
                                    <ion-label class="">Sexo</ion-label>
                                    <ion-select class="" #input ngModel [(ngModel)]="this.guardarInfosUsuario.sexo"
                                      interface="popover" toggleIcon="add" expandedIcon="remove" aria-label="Sexo"
                                      name="sexo">
                                      <ion-select-option value="Masculino">Masculino</ion-select-option>
                                      <ion-select-option value="Feminino">Feminino</ion-select-option>
                                      <ion-select-option value="Prefiro não dizer">Prefiro não dizer</ion-select-option>
                                    </ion-select>
                                  </ion-col>
                                </ion-row>
                                <ion-row class="ion-justify-content-end">
                                  <ion-col size="3">
                                    <ion-button color="dark" type="submit">Atualizar</ion-button>
                                  </ion-col>
                                </ion-row>
                              </form>

                            </ion-col>
                          </ion-row>
                        </ion-content>
                      </ng-template>
                    </ion-modal>

                    <!-- Modal para Remover Cliente -->
                    <ion-alert trigger="modalRemover" header="Quer mesmo excluir esse cliente?" [buttons]="alertButtons" (didDismiss)="setResult($event)"></ion-alert>



                    <!-- <ion-modal class="modalRemover" [isOpen]="isRemoverOpen">
                      <ng-template>
                        <ion-content class="ion-padding">
                             <ion-button (click)="modalRemover(false)">X</ion-button> 
                          <ion-row class="ion-justify-content-center">
                            <ion-col class="ion-text-align-center" size="12">
                              <ion-row>
                                <ion-title>Quer realmente excluir esse Cliente?</ion-title>
                              </ion-row>
                              <ion-row>
                                <ion-col>
                                  <ion-button (click)="modalRemover(false)">Cancelar</ion-button>
                                </ion-col>
                                <ion-col>
                                  <ion-button (click)="removerCliente(cliente.codigo)">Quero</ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-content>
                      </ng-template>
                    </ion-modal> -->
                  </ion-item>
                </ng-container>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>