<ion-content class="container" [fullscreen]="true">

  <!-- Texto de inspiração -->
  <ion-row class="ion-justify-content-center text">
    <ion-col size="12" class="ion-align-items-center">
      <ion-text class="text-see">O MELHOR APP <br>DE TREINOS <br>PARA VOCÊ</ion-text>
    </ion-col>
  </ion-row>

  <!-- Botões de Login e Cadastro -->
  <ion-row class="ion-justify-content-center buttons1">
    <ion-col size="6">
      <ion-button id="open-modal-login" class="button">Sing In</ion-button>

      <!-- Modal Login -->
      <ion-modal #modal trigger="open-modal-login" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content class="container-modal">

            <form action="">
              <!-- Email -->
              <ion-row>
                <ion-col size="12">
                  <ion-input class="inputs" label="Email" label-placement="floating" fill="solid" placeholder="Digite o email"
                    name="email"></ion-input>
                </ion-col>
              </ion-row>

              <!-- Senha -->
              <ion-row>
                <ion-col size="12">
                  <ion-input class="inputs" label="Senha" label-placement="floating" fill="solid" placeholder="Digite a senha"
                    name="password"></ion-input>
                </ion-col>
              </ion-row>
            </form>

          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center buttons2">
    <ion-col size="6">
      <ion-button id="open-modal-cadastro" class="button" color="light">Sing Up</ion-button>

      <!-- Modal Cadastro -->
      <ion-modal #modal trigger="open-modal-cadastro" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
        <ng-template>
          <ion-content class="container-modal">

            <form action="">
              <!-- Email -->
              <ion-row>
                <ion-col size="12">
                  <ion-input class="inputs" label="Email" label-placement="floating" fill="solid" placeholder="Digite o email"
                    name="email"></ion-input>
                </ion-col>
              </ion-row>

              <!-- Senha -->
              <ion-row>
                <ion-col size="12">
                  <ion-input class="inputs" label="Senha" label-placement="floating" fill="solid" placeholder="Digite a senha"
                    name="password"></ion-input>
                </ion-col>
              </ion-row>
            </form>

          </ion-content>
        </ng-template>
      </ion-modal>

    </ion-col>
  </ion-row>

</ion-content>