<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center header">
    <ion-col class="ion-text-center">
      <ion-text>Funcionários</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="secondary" (click)="modalInserir(true)">INSERIR</ion-button>
    </ion-col>

    <!-- Modal Para Inserir -->
    <ion-modal [isOpen]="isInserirOpen">
      <ng-template>
        <ion-toolbar>
          <ion-label class="ion-padding-start">Inserir um Funcionário</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="modalInserir(false)">X</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content class="ion-padding">

          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-align-center" size="12">

              <!-- Formulário -->
              <form #formInserirFuncionario="ngForm" (ngSubmit)="inserirFuncionario(formInserirFuncionario.value)">
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Nome" name="nome" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Sobrenome" name="sobrenome" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Cargo" name="cargo" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Data de Nascimento" name="dataNasc" type="date"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Cidade" name="cidade" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Endereço" name="endereco" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="CEP" name="cep" type="number"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="País" name="pais" type="text"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Telefone" name="fone" type="tel"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Salário" name="salario" type="number"
                        label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-item class="ion-justify-content-center" lines="none">
                  <ion-button color="light" slot="end" type="submit">Inserir</ion-button>
                </ion-item>
              </form>

            </ion-col>
          </ion-row>

        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="8">
      <ion-row>
        <ion-col size="6">
          <ion-searchbar [(ngModel)]="buscarTermo" (ionChange)="filtrarPorSearchBar()" show-clear-button="always"
            clear-icon="trash-bin"></ion-searchbar>
        </ion-col>
        <ion-col class="radio_group" size="4">
          <ion-radio-group class="radio_group" [(ngModel)]="filtroPesquisa" (ionChange)="filtrarPorSearchBar()">
            <ion-radio color="secondary" class="radio" value="nome">Nome</ion-radio>
            <ion-radio color="secondary" class="radio" value="cargo">Cargo</ion-radio>
            <ion-radio color="secondary" class="radio" value="cidade">Cidade</ion-radio>
            <ion-radio color="secondary" class="radio" value="telefone">Telefone</ion-radio>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Listar Todos os Funcionários -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-list class="list">
            <ion-item>
              <ion-label>Código</ion-label>
              <ion-label>Nome</ion-label>
              <ion-label>Sobrenome</ion-label>
              <ion-label>Cargo</ion-label>
              <ion-label>Telefone</ion-label>
              <ion-label>Data de Nascimento</ion-label>
              <ion-label>Endereço</ion-label>
              <ion-label>CEP</ion-label>
              <ion-label>País</ion-label>
              <ion-label>Cidade</ion-label>
              <ion-label>Salário</ion-label>
            </ion-item>
            <ng-container *ngFor="let funcionario of this.funcionarios">
              <ion-item class="ion-text-center">
                <ion-label>{{ funcionario.CodFun }}</ion-label>
                <ion-label>{{ funcionario.Nome }}</ion-label>
                <ion-label>{{ funcionario.Sobrenome }}</ion-label>
                <ion-label>{{ funcionario.Cargo }}</ion-label>
                <ion-label>{{ funcionario.Fone }}</ion-label>
                <ion-label>{{ funcionario.DataNasc }}</ion-label>
                <ion-label>{{ funcionario.Endereco }}</ion-label>
                <ion-label>{{ funcionario.CEP }}</ion-label>
                <ion-label>{{ funcionario.Pais }}</ion-label>
                <ion-label>{{ funcionario.Cidade }}</ion-label>
                <ion-label>{{ funcionario.Salario }}</ion-label>
                <ion-button (click)="modalUpdate(true, funcionario.CodFun, funcionario.Nome, funcionario.Sobrenome, funcionario.Cargo, funcionario.DataNasc, funcionario.Endereco, funcionario.Cidade, funcionario.CEP, funcionario.Pais, funcionario.Fone, funcionario.Salario)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
                <ion-button color="danger" (click)="removerFuncionario(funcionario.CodFun)"><ion-icon
                    name="trash-outline"></ion-icon></ion-button>

                <!-- Modal Para Atualizar -->
                <ion-modal [isOpen]="isAtualizarOpen">
                  <ng-template>
                    <ion-toolbar>
                      <ion-label class="ion-padding-start">ATUALIZAR FUNCIONÁRIO</ion-label>
                      <ion-buttons slot="end">
                        <ion-button (click)="modalUpdate(false, '', '', '', '', '', '', '', '', '', '', '')">X</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                    <ion-content class="ion-padding">
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-text-align-center" size="12">

                          <!-- Formulário -->
                          <form (submit)="atualizarFuncionario(formAtualizarFuncionario.value)" #formAtualizarFuncionario="ngForm">
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.nome" label="Nome" name="nome" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.sobrenome" label="Sobrenome" value="sobrenome" name="sobrenome" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.cargo" label="Cargo" value="cargo" name="cargo" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.dataNasc" label="Data de Nascimento" value="dataNasc" name="dataNasc" type="date"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.cidade" label="Cidade" value="cidade" name="cidade" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.endereco" label="Endereço" value="endereco" name="endereco" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.cep" label="CEP" value="cep" name="cep" type="number"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.pais" label="País" value="pais" name="pais" type="text"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.telefone" label="Telefone" value="telefone" name="fone" type="tel"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input ngModel [(ngModel)]="this.guardarInfosUsuario.salario" label="Salário" value="salario" name="salario" type="number"
                                    label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                              <ion-row class="ion-justify-content-end">
                                <ion-col size="3">
                                  <ion-button color="light" type="submit">Atualizar</ion-button>
                                </ion-col>
                              </ion-row>
                          </form>

                        </ion-col>
                      </ion-row>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-content>