<ion-content [fullscreen]="true">
  <ion-row class="ion-align-items-center header">
    <ion-col class="ion-text-center">
      <ion-text>Funcionários</ion-text>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button color="secondary" (click)="modalInserir(true)">Inserir</ion-button>
    </ion-col>

    <!-- Modal Para Inserir -->
    <ion-modal [isOpen]="isInserirOpen">
      <ng-template>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="modalInserir(false)">X</ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-content class="ion-padding">

          <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-align-center" size="12">

              <!-- Formulário -->
              <form #formInserirFuncionario="ngForm" (ngSubmit)="inserirFuncionario(formInserirFuncionario.value)">
                <ion-item class="ion-text-center" lines="none">
                  <ion-label>Inserir um Funcionário</ion-label>
                </ion-item>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Nome" name="nome" ngModel type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Sobrenome" name="sobrenome" ngModel type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Cargo" name="cargo" ngModel type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Data de Nascimento" name="dataNasc" ngModel type="date" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input #input ngModel label="Cidade" name="cidade" type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Endereço" name="endereco" ngModel type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input label="CEP" name="cep" ngModel type="number" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="País" name="pais" ngModel type="text" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Telefone" name="fone" ngModel type="tel" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input label="Salário" name="salario" ngModel type="number" label-placement="floating"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-item class="ion-justify-content-center" lines="none">
                  <ion-button color="light" slot="end" type="submit">Inserir</ion-button>
                </ion-item>
              </form>

            </ion-col>
          </ion-row>

        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-row>

  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="8">
      <ion-row>
        <ion-col size="6">
          <ion-searchbar [(ngModel)]="buscarTermo" (ionChange)="filtrarPorSearchBar()" show-clear-button="always" clear-icon="trash-bin"></ion-searchbar>
        </ion-col>
        <ion-col class="radio_group" size="4">
          <ion-radio-group class="radio_group">
            <ion-radio color="secondary" class="radio" value="name">Nome</ion-radio>
            <ion-radio color="secondary" class="radio" value="cargo">Cargo</ion-radio>
            <ion-radio color="secondary" class="radio" value="cidade">Cidade</ion-radio>
            <ion-radio color="secondary" class="radio" value="fone">Telefone</ion-radio>
          </ion-radio-group>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- Listar Todos os Funcionários -->
  <ion-row class="ion-justify-content-center">
    <ion-col size="12">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-list class="list">
            <ion-item>
              <ion-label>Código</ion-label>
              <ion-label>Nome</ion-label>
              <ion-label>Sobrenome</ion-label>
              <ion-label>Cargo</ion-label>
              <ion-label>Telefone</ion-label>
              <ion-label>Data de Nascimento</ion-label>
              <ion-label>Endereço</ion-label>
              <ion-label>CEP</ion-label>
              <ion-label>País</ion-label>
              <ion-label>Cidade</ion-label>
              <ion-label>Salário</ion-label>
            </ion-item>
            <ng-container *ngFor="let funcionario of this.funcionarios">
              <ion-item class="ion-text-center">
                <ion-label>{{ funcionario.CodFun }}</ion-label>
                <ion-label>{{ funcionario.Nome }}</ion-label>
                <ion-label>{{ funcionario.Sobrenome }}</ion-label>
                <ion-label>{{ funcionario.Cargo }}</ion-label>
                <ion-label>{{ funcionario.Fone }}</ion-label>
                <ion-label>{{ funcionario.DataNasc }}</ion-label>
                <ion-label>{{ funcionario.Endereco }}</ion-label>
                <ion-label>{{ funcionario.CEP }}</ion-label>
                <ion-label>{{ funcionario.Pais }}</ion-label>
                <ion-label>{{ funcionario.Cidade }}</ion-label>
                <ion-label>{{ funcionario.Salario }}</ion-label>
                <ion-button (click)="modalUpdate(true)"><ion-icon
                    name="pencil-outline"></ion-icon></ion-button>
                <ion-button color="danger" (click)="removerFuncionario(funcionario.CodFun)"><ion-icon
                    name="trash-outline"></ion-icon></ion-button>

                    <!-- Modal Para Atualizar -->
                <ion-modal [isOpen]="isAtualizarOpen">
                  <ng-template>
                    <ion-toolbar>
                      <ion-label class="ion-padding-start">ATUALIZAR FUNCIONÁRIO</ion-label>
                      <ion-buttons slot="end">
                        <ion-button (click)="modalUpdate(false)">X</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                    <ion-content class="ion-padding">
                      <ion-row class="ion-justify-content-center">
                        <ion-col class="ion-text-align-center" size="12">

                          <!-- Formulário -->
                          <form (submit)="atualizarFuncionario($event)" #AtualizarFuncionárioForm="ngForm">

                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.nome" label="Nome" name="nome" ngModel
                                    type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.sobrenome" label="Sobrenome" name="sobrenome"
                                    ngModel type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.cargo" label="Cargo" name="cargo" ngModel
                                    type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.dataNasc" label="Data de Nascimento"
                                    name="dataNasc" ngModel type="date" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.cidade" label="Cidade" name="cidade" ngModel
                                    type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.endereco" label="Endereço" name="endereco"
                                    ngModel type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.cep" label="CEP" name="cep" ngModel
                                    type="number" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.pais" label="País" name="pais" ngModel
                                    type="text" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.fone" label="Telefone" name="telefone" ngModel
                                    type="tel" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col>
                                <ion-item>
                                  <ion-input #input [(ngModel)]="formDados.salario" label="Salário" name="salario"
                                    ngModel type="number" label-placement="floating"></ion-input>
                                </ion-item>
                              </ion-col>
                            </ion-row>

                            <ion-item lines="none">
                              <ion-button color="light" slot="end" type="submit">Atualizar</ion-button>
                            </ion-item>
                          </form>

                        </ion-col>
                      </ion-row>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-content>