ion-content{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    .header{
        height: 7.5vh;
        width: 100%;
        padding-left: 2em;
        font-size: 1.5em;
        font-weight: bold;
        text-align: left;
        background: rgb(65, 65, 65);
    }

    .radio_group{
        display: flex;
        align-items: center;

        .radio{
            padding: .5em 2em;
        }
    }
}