<ion-content class="container" [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-segment value="inicio" (ionChange)="trocouAba($event)">

        <ion-segment-button class="segment-button" value="inicio">
          <ion-label>Ínicio</ion-label>
        </ion-segment-button>

        <ion-segment-button class="segment-button" value="cadastroCliente">
          <ion-label>Cadastro de Clientes</ion-label>
        </ion-segment-button>

        <ion-segment-button class="segment-button" value="gerenciamentoClientes">
          <ion-label>Gerenciamento de Clientes</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-col>
  </ion-row>

  <!-- Conteúdo Cadastro de Clientes -->
  <ng-container *ngIf="this.item_selecionado == 'cadastroCliente'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center full-height">

        <!-- Formulário -->
        <ion-row class="card">
          <ion-col size="12">
            <div>
              <ion-card-header>
                <ion-card-title class="card__title">Cadastro de Clientes</ion-card-title>
              </ion-card-header>

              <ion-row>
                <ion-col size="12">
                  <div class="card-content">
                    <form class="form" #inserirClienteForm="ngForm" (ngSubmit)="inserirCliente(inserirClienteForm.value)">

                      <ion-list>
                        <ion-item class="card__item">
                          <ion-input ngModel label="Nome" name="name" label-placement="floating" type="text"
                            placeholder="Coloque o nome" class="required"></ion-input>
                          <span class="span-required">Nome deve ter no mínimo 3 caractéres</span>
                        </ion-item>

                        <ion-item class="card__item">
                          <ion-input ngModel label="E-mail" name="email" label-placement="floating" type="email"
                            placeholder="Coloque o email"></ion-input>
                          <span class="span-required">Digite um E-mail válido</span>
                        </ion-item>

                        <ion-item class="card__item">
                          <ion-input ngModel label="Telefone" name="telefone" label-placement="floating" type="tel"
                            placeholder="Coloque o telefone"></ion-input>
                          <span class="span-required">Coloque um núumero válido</span>
                        </ion-item>
                      </ion-list>

                      <ion-list>
                        <ion-item class="card__item">
                          <ion-input ngModel label="CPF" name="cpf" label-placement="floating" type="tel"
                            placeholder="Coloque o CPF"></ion-input>
                          <span class="span-required">Coloque um número de CPF válido</span>
                        </ion-item>

                        <ion-item class="card__item">
                          <ion-input ngModel label="Endereço" name="endereco" label-placement="floating" type="text"
                            placeholder="Coloque o endereço"></ion-input>
                          <span class="span-required">Endereço deve ter no mínimo 3 caractéres</span>
                        </ion-item>
                        
                        <ion-item class="card__button" lines="none">
                          <ion-button class="btn_cadastrar" slot="end" type="submit">
                            <ng-container *ngIf="this._authenticate.isLoading">
                              <ion-spinner></ion-spinner>
                            </ng-container>
                            <ng-container *ngIf="!this._authenticate.isLoading">
                              Cadastrar
                            </ng-container>
                          </ion-button>
                        </ion-item>
                      </ion-list>

                    </form>

                  </div>
                </ion-col>
              </ion-row>

            </div>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ng-container>

  <!-- Conteúdo Gerenciamento de Clientes -->
  <ng-container *ngIf="this.item_selecionado == 'gerenciamentoClientes'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-text-center ion-align-items-center full-height">
        <div class="full">
          <div class="full__table ion-text-center ion-align-items-center ion-justify-content-center">
            <ion-text>
              <h3>Gerenciamento de Clientes</h3>
            </ion-text>
            <ion-row class="ion-justify-content-center" style="background-color: rgb(40, 40, 40); color: #fff;">
              <ion-col size="2">Nome</ion-col>
              <ion-col size="2">Email</ion-col>
              <ion-col size="2">Telefone</ion-col>
              <ion-col size="2">CPF</ion-col>
              <ion-col size="2">Endereço</ion-col>
            </ion-row>

            <ion-content>
              <ion-list>
                <ion-item *ngFor="let cliente of clientes" (click)="setOpen(true)">
                  <ion-grid class="table-grid">
                    <ion-row class="ion-text-center">
                      <ion-col size="3">{{ cliente.nome }}</ion-col>
                      <ion-col size="3">{{ cliente.email }}</ion-col>
                      <ion-col size="3">{{ cliente.telefone }}</ion-col>
                      <ion-col size="3">{{ cliente.cpf }}</ion-col>
                      <ion-col size="3">{{ cliente.endereco }}</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
              </ion-list>
            </ion-content>

            <!-- Conteúdo Modal -->
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-segment value="inicio" (ionChange)="trocouComponente($event)">

                    <ion-segment-button class="modal-segment-button" value="perfil">
                      <ion-label>Perfil</ion-label>
                    </ion-segment-button>

                    <ion-segment-button class="modal-segment-button" value="fichaTreino">
                      <ion-label>Ficha de Treino</ion-label>
                    </ion-segment-button>

                    <ion-segment-button class="modal-segment-button" value="alterarInformacao">
                      <ion-label>Alterar Informação</ion-label>
                    </ion-segment-button>

                  </ion-segment>
                  <ion-buttons slot="end" class="ion-justify-content-end">
                    <ion-button (click)="setOpen(false)"><img width="20" height="20"
                        src="https://img.icons8.com/ios/50/000000/cancel.png" alt="cancel" /></ion-button>
                  </ion-buttons>
                </ion-header>
                <ion-content class="ion-padding">
                  <ng-container *ngIf="this.item_selecionado_modal == 'perfil'">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, magnam accusamus mollitia
                      tempora quidem quod molestiae nostrum voluptatem reprehenderit error molestias pariatur corrupti
                      obcaecati voluptatibus eos nemo ipsa. Impedit, ipsum.</p>
                  </ng-container>
                  <ng-container *ngIf="this.item_selecionado_modal == 'fichaTreino'"></ng-container>
                  <ng-container *ngIf="this.item_selecionado_modal == 'alterarInformacao'"></ng-container>
                </ion-content>
              </ng-template>
            </ion-modal>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-content>