#container a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Bebas Neue';
}

.container {
  --background: #ffffff;
  color: #000000;
}

@font-face {
  font-family: 'Oswald';
  src: url('../../assets/font/Oswald-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../../assets/font/BebasNeue-Regular.ttf');
}

// Side Bar
.custom__row {
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #404040;
}

.customCol {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.customRow {
  padding-top: 2em;

  .iconActive {
    content: '\2022';
    margin-right: 0.625em;
    font-size: 1.25em;
    color: #808080;
  }
}

// Ficha de Treino
.row__exercicio {
  margin-top: 1em;
}

.cardExercicio {
  width: 12.5em;
  height: 6em.5em;
  border-radius: 0.625em;

  .textExercicio {
    font-family: 'Oswald';
    font-size: 1.5em;
    color: #000000;
  }

  .cardImg {
    position: relative;
    right: 0.5em;
    margin-top: 0.2em;
  }
}

.cardTodos {
  --padding-start: 0;
}


// Modal
.modalExeTd {
  --background: #ffffff;

  .listModalExe {
    .itemModalExe {
      --background: #ffffff;
      color: #000000;
    }
  }
}

// Adicionar Cliente
.rowAdd {
  margin-top: 10em;
  background: #ffffff;
  border-radius: 1.25em;

  .textTitleAdd {
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 1.5em;
  }

  .rowAdd__form {
    margin-top: 1em;
    background: #ffffff;

    .itemAdd {
      --background: #ffffff;
    }
    .inputAdd {
      font-family: 'Oswald';
      font-size: 1em;
      --color: #fff;
      --background: #515151;
    }
    .btnAdd {
      font-family: 'Oswald';
      font-size: 1em;
    }
  }
}

// Gerenciamento Clientes
.item {
  --background: #ffffff;
}

.radio_group {
  display: flex;
  align-items: center;

  .radio {
    padding: .5em 2em;
  }
}