ion-content {
    --background: #262626 no-repeat center/cover fixed;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url(../../assets/font/Oswald-VariableFont_wght.ttf);
}

.startPeito {
    background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../assets/images/peitoApp.png') no-repeat center/cover fixed;

    .textPeito {
        color: #FFF;
        font-family: 'Bebas Neue';
        font-size: 3em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        padding-left: 0.5em;
    }
}

// Title
.title {
    color: #FFF;
    font-family: 'Bebas Neue';
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

// Search Bar
.searchBar {
    --background: #242424;
    --border-radius: 0.5em;
    --color: #666;
    position: relative;
    bottom: 1.5em;
}

// Treino

.accordion {
    border-radius: 0.5em;
    background-color: #404040;
    position: relative;

    .accordionContent {
        position: relative;
    }

    .exercicioSerie {
        color: #FFF;
        font-family: 'Oswald';
        font-size: 1.25em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
    }

    // Botão
    .btnExercicio {
        --border-radius: 8px;
        --background: #00B2FF;
        width: 80vw;
        height: 5vh;
        position: relative;
    }
}

ion-item {
    --background: #404040;
    --color: #fff;
}

.exercicioNome {
    --color: #fff;
    font-family: 'Bebas Neue';
    font-size: 1.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// Navegação
.nav-bar {
    background: #262626;
    position: sticky;
    width: 100vw;
    padding-left: 1em;
}

.btns {
    --background: #262626;
    position: relative;
}

// Responsabilidade
@media (min-width: 768px) {
    // Conteúdo
    .accordionContent {
        position: relative;
        left: 5em;
    }

    .exercicioSerie {
        top: 3em;
    }

    .btnExercicio {
        left: 3em;
    }



    // Botões
    .btns {
        left: 4.8em;
    }
}

@media (min-width: 1024px) {
    // Conteúdo
    .accordionContent {
        position: relative;
        left: 8em;
    }

    .exercicioSerie {
        top: 5em;
    }

    .btnExercicio {
        left: 5em;
    }

    // Botões
    .btns {
        left: 8em;
    }
}