<ion-content [fullscreen]="true">

  <ion-row class="rowStart">
    <ion-col class="start">
      <svg class="start__svg1" xmlns="http://www.w3.org/2000/svg" width="154" height="141" viewBox="0 0 154 141"
        fill="none">
        <g filter="url(#filter0_d_386_118)">
          <ellipse cx="69.6886" cy="13.8554" rx="45.0442" ry="34.3194" fill="url(#paint0_linear_386_118)" />
        </g>
        <g filter="url(#filter1_d_386_118)">
          <ellipse cx="-19.0804" cy="-11.761" rx="79.7104" ry="60.9231" transform="rotate(59 -19.0804 -11.761)"
            fill="url(#paint1_linear_386_118)" />
        </g>
        <defs>
          <filter id="filter0_d_386_118" x="-0.355591" y="-41.4639" width="140.088" height="118.639"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="12.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_386_118" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_386_118" result="shape" />
          </filter>
          <filter id="filter1_d_386_118" x="-110.51" y="-107.965" width="182.859" height="200.408"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="12.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_386_118" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_386_118" result="shape" />
          </filter>
          <linearGradient id="paint0_linear_386_118" x1="134.269" y1="-2.04328" x2="69.6886" y2="48.1748"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#00C2FF" />
            <stop offset="1" stop-color="#0066FF" />
          </linearGradient>
          <linearGradient id="paint1_linear_386_118" x1="-19.0804" y1="-72.6841" x2="-19.0804" y2="49.1622"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#00C2FF" />
            <stop offset="1" stop-color="#7ED8FF" />
          </linearGradient>
        </defs>
      </svg>

      <svg class="start__svg2" xmlns="http://www.w3.org/2000/svg" width="191" height="205" viewBox="0 0 191 205"
        fill="none">
        <g filter="url(#filter0_d_386_113)">
          <ellipse cx="176.01" cy="52.1969" rx="45.0442" ry="34.3194" transform="rotate(-166 176.01 52.1969)"
            fill="url(#paint0_linear_386_113)" />
        </g>
        <g filter="url(#filter1_d_386_113)">
          <ellipse cx="114.07" cy="97.423" rx="79.7104" ry="60.9231" transform="rotate(-161.5 114.07 97.423)"
            fill="url(#paint1_linear_386_113)" />
        </g>
        <defs>
          <filter id="filter0_d_386_113" x="106.514" y="-3.8501" width="138.992" height="120.094"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="12.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_386_113" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_386_113" result="shape" />
          </filter>
          <filter id="filter1_d_386_113" x="11.0275" y="13.3384" width="206.085" height="176.169"
            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha" />
            <feOffset dy="4" />
            <feGaussianBlur stdDeviation="12.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_386_113" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_386_113" result="shape" />
          </filter>
          <linearGradient id="paint0_linear_386_113" x1="240.591" y1="36.2982" x2="176.01" y2="86.5163"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#3378FF" />
            <stop offset="1" stop-color="#37B7FF" />
          </linearGradient>
          <linearGradient id="paint1_linear_386_113" x1="114.07" y1="36.4998" x2="114.07" y2="158.346"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#00C2FF" />
            <stop offset="1" stop-color="#7ED8FF" />
          </linearGradient>
        </defs>
      </svg>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <p class="title">Seu treino</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-searchbar [(ngModel)]="buscarTermo" (ionChange)="filtrarPorSearchBar()" show-clear-button="always"
        clear-icon="trash-bin"></ion-searchbar>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12">

      <ion-accordion-group [multiple]="true" [value]="['second']">
        <ng-container *ngFor="let exercicio of this.fichaDeTreino">
          <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle"
            toggleIconSlot="start">
            <ion-item slot="header">

              <ion-row>
                <ion-col size="12">
                  <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                </ion-col>
              </ion-row>

            </ion-item>

            <ion-row class="ion-padding" slot="content">
              <ion-col>
                <ion-row class="ion-justify-content-center accordionContent">
                  <ion-col size="12">
                    <video class="video" controls width="100%">
                      <source src="{{ exercicio.videos }}" type="video/mp4">
                    </video>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="6" class="colSeries">
                    <p class="exercicioSerie">Série:</p>
                    <p class="exercicioSerieNum">{{ exercicio.series }}</p>
                  </ion-col>
                  <ion-col size="6">
                    <p class="exercicioSerie">Detalhes:</p>
                    <p class="exercicioSerieNum">{{ exercicio.descricao }}</p>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                  <ion-col size="12">
                    <ion-button class="btnExercicio">Feito</ion-button>
                  </ion-col>
                </ion-row>

              </ion-col>
            </ion-row>

          </ion-accordion><br>
        </ng-container>
      </ion-accordion-group>

    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="nav-bar">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-row>
        <ion-col size="4" class="ion-padding-start">
          <ion-button color="light" class="btns" [routerLink]="'/app-treino'">
            <ion-icon size="large" name="accessibility-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-inicio'">
            <ion-icon size="large" name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-perfil'">
            <ion-icon color="light" size="large" name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>