<ion-content [fullscreen]="true">
  <ng-container *ngIf="this.dadosTreino === 'Peito'">
    <ion-row class="rowStart">
      <ion-col class="start startPeito">
        <p class="textPeito">Peito</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 6)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Costas'">
    <ion-row class="rowStart">
      <ion-col class="start startCostas">
        <p class="textExercio">Costas</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 6)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Biceps'">
    <ion-row class="rowStart">
      <ion-col class="start startBiceps">
        <p class="textPeito">Bíceps</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 4)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Triceps'">
    <ion-row class="rowStart">
      <ion-col class="start startTriceps">
        <p class="textPeito">Tríceps</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 4)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Pernas'">
    <ion-row class="rowStart">
      <ion-col class="start startPernas">
        <p class="textPeito">Pernas</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 8)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Ombro'">
    <ion-row class="rowStart">
      <ion-col class="start startOmbro">
        <p class="textPeito">Ombro</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 6)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Abdomen'">
    <ion-row class="rowStart">
      <ion-col class="start startAbdomen">
        <p class="textPeito">Abdômen</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 3)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="this.dadosTreino === 'Cardio'">
    <ion-row class="rowStart">
      <ion-col class="start startCardio">
        <p class="textPeito">Cardio</p>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <p class="title">Seu treino</p>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-searchbar class="searchBar"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
  
        <ion-accordion-group [multiple]="true" [value]="['second']">
          <ng-container *ngFor="let exercicio of this.exercicios.slice(0, 4)">
            <ion-accordion class="accordion" value="{{ exercicio.value }}" toggleIcon="caret-down-circle" toggleIconSlot="start">
              <ion-item slot="header">
    
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="exercicioNome">{{ exercicio.nome }}</ion-label>
                  </ion-col>
                </ion-row>
    
              </ion-item>
    
              <ion-row class="ion-padding" slot="content">
                <ion-col>
                  <ion-row class="ion-justify-content-center accordionContent">
                    <ion-col size="12">
                      <video class="video" controls width="100%">
                        <source src="{{ exercicio.videos }}" type="video/mp4">
                      </video>
                    </ion-col>
                  </ion-row>
    
                  <ion-row>
                    <ion-col size="6" class="colSeries">
                      <p class="exercicioSerie">Série:</p>
                      <p class="exercicioSerieNum">4x15</p>
                    </ion-col>
                    <ion-col size="6">
                      <p class="exercicioSerie">Detalhes:</p>
                      <p class="exercicioSerieNum">Progreção de Carga</p>
                    </ion-col>
                  </ion-row>
    
                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button class="btnExercicio">Feito</ion-button>
                    </ion-col>
                  </ion-row>
    
                </ion-col>
              </ion-row>
    
            </ion-accordion><br>
          </ng-container>
        </ion-accordion-group>
  
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>

<ion-footer class="nav-bar">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <ion-row>
        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-treino'">
            <ion-icon size="large" name="accessibility-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-inicio'">
            <ion-icon size="large" name="home-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-padding-start">
          <ion-button class="btns" [routerLink]="'/app-perfil'">
            <ion-icon size="large" name="person-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>