<ion-content [fullscreen]="true">
  <ion-row>
    <!-- Side bar -->
    <ion-col size="2" class="sideBar">
      <ion-row class="sideRow">
        <ion-col class="sideCol">
          <!-- Logo -->
          <ion-row class="sideCol__logo">
            <ion-col size="4" class="sideCol__column ">
              <ion-thumbnail class="sideCol__img">
                <img src="../../assets/images/logo.png" alt="Logo">
              </ion-thumbnail>
            </ion-col>

            <ion-col size="8" class="sideCol__column">
              <p class="sideCol__text">Home</p>
            </ion-col>
          </ion-row>

          <!-- Home -->
          <ion-row [routerLink]="'/admin'" class="row">
            <ion-col size="3" class="sideCol__column">
              <ion-thumbnail class="sideCol__thumbnail">
                <img src="../../assets/images/iconHome.png" alt="Home">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9" class="sideCol__column">
              <p class="sideCol__text">Home</p>
            </ion-col>
          </ion-row>

          <!-- Adicionar -->
          <ion-row [routerLink]="'/admin-adcionar'">
            <ion-col size="3" class="sideCol__column">
              <ion-thumbnail class="sideCol__thumbnail">
                <img src="../../assets/images/iconAdicionar.png" alt="Adicionar">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9" class="sideCol__column">
              <p class="sideCol__text">Adicionar</p>
            </ion-col>
          </ion-row>

          <!-- Listar -->
          <ion-row [routerLink]="'/admin-list'">
            <ion-col size="3" class="sideCol__column">
              <ion-thumbnail class="sideCol__thumbnail">
                <img src="../../assets/images/iconList.png" alt="Listar">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9" class="sideCol__column">
              <p class="sideCol__text">Listar</p>
            </ion-col>
          </ion-row>

          <!-- Ficha -->
          <ion-row [routerLink]="'/admin-exercicios'">
            <ion-col size="3" class="sideCol__column">
              <ion-thumbnail class="sideCol__thumbnail">
                <img src="../../assets/images/iconFicha.png" alt="Ficha">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9" class="sideCol__column">
              <p class="sideCol__text">Ficha</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" [routerLink]="'/admin-login'" class="sideCol__column">
              <ion-thumbnail class="sideCol__thumbnail">
                <img src="../../assets/images/iconBack.png" alt="Sair">
              </ion-thumbnail>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-col>

    <!-- Conteúdo -->
    <ion-col size="10">
      <ion-row class="bg__conteudo ion-justify-content-center ion-align-items-center">
        <ion-col size="10" class="conteudo">
          <form #forminserirClientes="ngForm" [formGroup]="formInserir" (ngSubmit)="inserirClientes(forminserirClientes.value)">
            <ion-row>
              <ion-col>
                <p class="conteudo__title">Adicionar Cliente</p>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label class="conteudo__text">Nome</ion-label>
                <ion-input placeholder="Primero Nome" class="conteudo__input" formControlName="nome" #input name="nome"
                  type="text"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-label class="conteudo__text">Sobrenome</ion-label>
                <ion-input placeholder="Último Nome" class="conteudo__input" formControlName="sobrenome" #input name="sobrenome"
                  type="text"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <ion-label class="conteudo__text">Email</ion-label>
                <ion-input placeholder="Seu endereço de Email" class="conteudo__input conteudo__input__email" formControlName="email" #input
                  name="email" type="text"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label class="conteudo__text">Data Nascimento</ion-label>
                <ion-input placeholder="Sua Data Nascimento" class="conteudo__input" formControlName="DataNasc" #input name="DataNasc"
                  type="date"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-label class="conteudo__text">Altura</ion-label>
                <ion-input placeholder="Sua Altura" class="conteudo__input" formControlName="altura" #input name="altura"
                  type="number"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label class="conteudo__text">CPF</ion-label>
                <ion-input placeholder="Seu CPF" class="conteudo__input" formControlName="cpf" #input name="cpf"
                  type="text"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-label class="conteudo__text">Peso</ion-label>
                <ion-input placeholder="Seu Peso" class="conteudo__input" formControlName="peso" #input name="peso"
                  type="number"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <ion-label class="conteudo__text">Planos</ion-label>
                <ion-select class="conteudo__select" interface="popover" toggleIcon="add" expandedIcon="remove"
                  aria-label="Planos" placeholder="Selecione seu plano" formControlName="FK_Planos_codigo" #input name="FK_Planos_codigo">
                  <ion-select-option value="1">Plano A</ion-select-option>
                  <ion-select-option value="2">Plano B</ion-select-option>
                  <ion-select-option value="3">Plano C</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="6">
                <ion-label class="conteudo__text">Sexo</ion-label>
                <ion-select class="conteudo__select" interface="popover" toggleIcon="add" expandedIcon="remove"
                  aria-label="Sexo" placeholder="Selecione seu gênero" formControlName="sexo" #input name="sexo">
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                  <ion-select-option value="Feminino">Feminino</ion-select-option>
                  <ion-select-option value="Prefiro não dizer">Prefiro não dizer</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12" class="ion-text-center">
                <ion-button type="submit" class="conteudo__button">Inserir</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>