@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/font/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../../assets/font/Oswald-VariableFont_wght.ttf');
}

ion-content {
    --background: linear-gradient(120deg, #ffffff , #ebebeb);
}


// Side Bar
.sideBar {
    display: flex;
    align-items: center;
    height: 100vh;

    & .sideRow {
        width: 15vw;
        height: 100vh;
        background: #000000;
        border: 1px solid #000000;
        position: fixed;
        left: 0;

        & .sideCol {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;

            & .sideCol__column {
                display: flex;
                justify-content: center;
                align-items: center;

                & .sideCol__logo {
                    --size: 60px;
                }

                & .sideCol__thumbnail {
                    cursor: pointer;
                }

                & .sideCol__text {
                    color: #FFF;
                    font-family: 'Bebas Neue';
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    cursor: pointer;
                }
            }
        }
    }
}

// Conteúdo
.bg__conteudo{
    display: flex;
    justify-content: center;
    align-items: center;

    .conteudo {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;

        border: 2px solid black;
        box-shadow: 10px 10px 0 black;
    
        & .conteudo__title {
            font-family: 'Oswald';
            font-weight: bold;
            font-size: 2vw;
            text-transform: uppercase;
            text-align: center;
        }
    
        & .conteudo__input {
            width: 25vw;
            --background: #ffffff;
            border: 1px solid #262626;
            --padding-start: 10px;
            --highlight-color-focused: #00B2FF;
            --highlight-color-valid: #00bb5d;
            --color: #7c7c7c;
            font-size: .9vw;
            font-family: 'Oswald';
            text-transform: none;
        }
    
        & .conteudo__input__email {
            width: 64.1%;
            text-transform: none;
        }
    
        & .conteudo__select {
            width: 25vw;
            --background: #fff;
            border: 1px solid #262626;
            --padding-start: 10px;
            --highlight-color-focused: #00B2FF;
            --highlight-color-valid: #00B2FF;
            --color: #252525;
            font-size: .9vw;
            font-family: 'Oswald';
        }
    
        & .conteudo__text {
            color: #000;
            font-family: 'Oswald';
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    
        & .conteudo__button {
            font-family: 'Bebas Neue';
            --background: #00B2FF;
            --border-radius: 0;
            font-size: 1em;

            &:after{
                z-index: -1;
                content: '';
                position: absolute;
                bottom: 0;
                right: 9.5vw;
                height: 4.5vh;
                width: 9vw;
                height: 2vh;
                padding: 1.2%;
                border: 2px solid #00B2FF;
            }
        }

        
    }
}