<ion-content class="container" [fullscreen]="true">
  <div class="text">
    <h2>Cadastro de Clientes</h2>
    <ion-button routerLink="/geren-clientes">Gerenciamento</ion-button>
  </div>
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="ion-text-center full-height">
      <!-- Formulário -->
      <ion-row class="card">
        <ion-col size="12">
          <div class="card-full">
            <ion-card-header>
              <ion-card-title>Cadastro de Clientes</ion-card-title>
            </ion-card-header>
            <ion-row>
              <ion-col>
                <div class="card-content">
                  <form id="form">
                  <ion-list class="card-list">
                    <ion-item class="card__item">
                      <ion-input label="Nome" label-placement="floating" fill="solid" placeholder="Coloque o nome" class="required"></ion-input>
                      <span class="span-required">Nome deve ter no mínimo 3 caractéres</span>
                    </ion-item>
              
                    <ion-item class="card__item">
                      <ion-input label="CPF" label-placement="floating" type="number" fill="solid" placeholder="Coloque o CPF"></ion-input>
                      <span class="span-required">Coloque um número de CPF válido</span>
                    </ion-item>
              
                    <ion-item class="card__item">
                      <ion-input label="RG" label-placement="floating" type="number" fill="solid" placeholder="Coloque o RG"></ion-input>
                      <span class="span-required">Coloque um número de RG válido</span>
                    </ion-item>
              
                    <ion-item class="card__item" lines="none">
                      <ion-input label="Data de Nascimento" label-placement="floating" fill="solid" placeholder="Coloque a Data de Nascimento"></ion-input>
                      <span class="span-required">Coloque uma data de nascimento válido</span>
                    </ion-item>
                  </ion-list>
                </form>
                </div>
              </ion-col>
              <ion-col>
                <div class="card-content">
                  <form id="form">
                  <ion-list class="card-list">
                    <ion-item>
                      <ion-input label="Endereço" label-placement="floating" fill="solid" placeholder="Coloque o endereço"></ion-input>
                      <span class="span-required">Endereço deve ter no mínimo 3 caractéres</span>
                    </ion-item>
              
                    <ion-item>
                      <ion-input label="Cidade" label-placement="floating" fill="solid" placeholder="Coloque a cidade"></ion-input>
                      <span class="span-required">Cidade deve ter no mínimo 3 caractéres</span>
                    </ion-item>
              
                    <ion-item>
                      <ion-input label="Telefone" label-placement="floating" type="tel" fill="solid" placeholder="Coloque o telefone"></ion-input>
                      <span class="span-required">Coloque um núumero válido</span>
                    </ion-item>
              
                    <ion-item lines="none">
                      <ion-input label="E-mail" label-placement="floating" type="email" fill="solid" placeholder="Coloque o email"></ion-input>
                      <span class="span-required">Digite um E-mail válido</span>
                    </ion-item>
                  </ion-list>
                </form>
                </div>
              </ion-col>
            </ion-row>
            <ion-button color="tertiary" shape="round">Cadastrar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
